# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Outputs and experiments
outputs/
wandb/
checkpoints/

# Large data and model files (too big for GitHub)
data/raw/
data/processed/
data/*.csv
data/*.xlsx
models/trained/
models/pretrained/
notebooks/*.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
